:root {
  --main-font-family: Roboto, 'sans-serif';
  --black-color: #2d3436;
  --dark-grey-color: #636e72;
  --light-grey-color: #dfe6e9;
  --white-color: #ffffff;
  --red-color: #d63031;
  --yellow-color: #fdcb6e;
  --green-color: #00b894;
  --blue-color: #0984e3;
}

.App {
  font-family: var(--main-font-family);
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

section {
  margin: .75rem auto;
}

.products-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.product-list-container {
  padding: .75rem auto;
}